@import "../styles/common/vars";

.mainImage {
    height: 200px;
    background-size: cover, cover;
    background-position: center;
    background-image: url(/img/bg/homepage_bg_mobile-1.jpg);


    @media screen and (min-width: 768px) {
        background-image: url(/img/bg/homepage_bg_tablet-1.jpg);
        height: 350px;
    }

    @media screen and (min-width: 1440px) {
        background-image: url(/img/bg/homepage_bg_desktop-1.jpg);
        height: 550px;
    }
}
h1 {
    text-align: center;
    background-color: rgba($main-color, .6);
    color: white;
}