@import '../../styles/common/vars';

.nav {
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

@media screen and (min-width: 1440px) {
  flex-direction: row;
}
}
.link {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  padding: 20px 25px;
  color: $primary-white-color;
  background-color: transparent;
  transition: border-bottom $transition;

  &[aria-current] {
    color: $hover-color;
    border-bottom: 5px solid $hover-color;
  }

  &:hover,
  &:focus {
    color: $hover-color;
    border-bottom: 5px solid $hover-color;
  }

  @media screen and (min-width: 1440px) {
    font-size: 15px;
    line-height: 20px;
    padding: 25px 16px;
  }
}
