@import '../../styles/common/vars';

.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 20px 40px;
}
.nav {
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  //gap: 6px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

}
.link {
  display: block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
    border-bottom: 5px solid transparent;
  //border: 1px solid rgba($color: $primary-white-color, $alpha: 0.2);
  padding: 25px 16px;
  color: $primary-white-color;
  background-color: transparent;
  transition: border-bottom $transition;

  &[aria-current] {
    //background-color: $hover-blue-color;
    color: #15DB95;
    border-bottom: 5px solid #15DB95;
  }

  &:hover,
  &:focus {
    //background-color: $hover-blue-color;
    //color: $primary-white-color;
    color: #15DB95;
    border-bottom: 5px solid #15DB95;
  }

}
