@import "../../styles/common/vars";
.wrapper {
    margin-top: 10px;
}

tr, td {
    // border: 1px solid white;
    border-bottom: 1px solid $main-color;
    align-items: center;
}
thead {
    background-color: $main-color;
    color: $primary-white-color;
}
h2 {
    margin-bottom: 5px;
}
.bold {
    font-weight: 800;
    color: $highlight-color;
}
.subHeader {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.clubLogo {
    // display: none;
        height: 20px;
    width: 20px;
  
    @media screen and (min-width: 768px) {
        display: inline;
      height: 20px;
      width: 20px;
    }
  }
  .team {
    display: flex;
    gap: 2px;
    align-items: center;
  }